* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: lightgrey;
}

#menu {
    background-color: rgb(49, 53, 53);
    border-bottom: solid 5px rgb(143, 201, 255);
}

#menu ul {
    text-decoration: none;
}

#menu li {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    padding: 15px;
}

#menu li:hover {
    background-color: rgb(143, 201, 255);
    color: white;
}

#right-align {
    
    float: right;
    width: 49%;
    height: 100%;
   
}

#content {
    float: left;
    width: 49%;
    height: 100%;
}

.title-top {
    margin-top: 10px;
}

.form-groupl {
    padding: 10px;
}

.form-groupl input {
    background-color: rgb(138, 138, 138);
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.btn-sucesse {
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: red;
    color: white;
    margin-top: 15px;
    margin-left: 40px;
    box-shadow: 2px 2px 1px 1px #000;
}

.title-center {
    margin-left: 120px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-left: 90px;
    margin-top: 20px;
}

th, td {
    padding: 10px;
}

thead tr {
    border-bottom: solid 3px #444;
}

tbody tr:hover {
    background-color: #dedede;
}

.delete-student {
    background-color: red;
    color: white;
}

.edit-student {
    background-color: blue;
    color: white;
}